@charset "utf-8";

@import 'variable';
@import 'reset';
@import 'vux-reset';

/* 链接 */
.link {
	color: $theme-color;
	padding: 2px;
	&:hover {
		border-radius: 3px;
		background-color: #eee;
	}
}

/* 占满父元素 */
.fill-box {
	width: 100%;
	height: 100%;
}

/* 按钮容器 */
.button-box {
	width: 100%;
	padding: 8px;
}

/* 外边框 */
.margin-8p {
	margin: 8px;
}

/* 弹性容器 */
.flex {
	display: flex;
}

/* 子元素居中 */
.center {
	text-align: center;
}
